<a href="https://colab.research.google.com/github/Dan-data-tech/SQLite3/blob/main/practiceExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CREATING THE DATABASE**

In [2]:
import sqlite3
connection = sqlite3.connect('cybersec_incident_response.db')
cursor=connection.cursor()

In [3]:
cursor.execute('''
   CREATE TABLE IF NOT EXISTS incidents(
             id INTEGER PRIMARY KEY  AUTOINCREMENT ,
             incident_type TEXT,
             description TEXT,
             reported_date TEXT,
             status TEXT
   )
''')

cursor.execute('''
   CREATE TABLE IF NOT EXISTS actions(
             id INTEGER PRIMARY KEY  AUTOINCREMENT ,
             incident_id INTEGER ,
             action_description TEXT,
             action_date TEXT,
             analyst_name TEXT,
             FOREIGN KEY (incident_id) REFERENCES incidents(id)
   )
''')

cursor.execute('''
   CREATE TABLE IF NOT EXISTS systems(
             id INTEGER PRIMARY KEY  AUTOINCREMENT ,
             system_name TEXT,
             ip_address  TEXT,
             status TEXT
   )
''')


incidents_data = [
    ('Phishing Attack', 'Employee received a suspicious email', '2024-06-01', 'Open'),
    ('Malware Infection', 'System infected by ransomware', '2024-06-02', 'Open'),
    ('DDoS Attack', 'Website under DDoS attack', '2024-06-03', 'Resolved')
]

actions_data = [
    ( "Investigated network breach", "2024-06-01", "Alice Smith"),
    ( "Patched security vulnerability", "2024-06-02", "Bob Johnson"),
    ( "Reviewed firewall rules", "2024-06-03", "Carol White"),
    ( "Conducted system audit", "2024-06-04", "David Brown")
]

systems_data = [
    ( "Server1", "192.168.1.1", "active"),
    ( "Server2", "192.168.1.2", "inactive"),
    ( "Server3", "192.168.1.3", "active"),
    ( "Server4", "192.168.1.4", "inactive")
]

cursor.executemany('INSERT INTO incidents( incident_type, description, reported_date, status ) VALUES ( ?,?,?,?)' , incidents_data)
cursor.executemany('INSERT INTO actions( action_description, action_date, analyst_name ) VALUES ( ?,?,?)' , actions_data)
cursor.executemany('INSERT INTO systems( system_name, ip_address, status ) VALUES ( ?,?,?)' , systems_data)

# **QUERY DATA**

In [4]:
cursor.execute('SELECT * FROM incidents')
results = cursor.fetchall()

for result in results:
    print(result)

print('\n')

cursor.execute("SELECT  * FROM actions WHERE action_description='Reviewed firewall rules' ")
results = cursor.fetchall()

for result in results:
    print(result)

print('\n')

cursor.execute('SELECT * FROM systems')
results = cursor.fetchall()

for result in results:
    print(result)

(1, 'Phishing Attack', 'Employee received a suspicious email', '2024-06-01', 'Open')
(2, 'Malware Infection', 'System infected by ransomware', '2024-06-02', 'Open')
(3, 'DDoS Attack', 'Website under DDoS attack', '2024-06-03', 'Resolved')


(3, None, 'Reviewed firewall rules', '2024-06-03', 'Carol White')


(1, 'Server1', '192.168.1.1', 'active')
(2, 'Server2', '192.168.1.2', 'inactive')
(3, 'Server3', '192.168.1.3', 'active')
(4, 'Server4', '192.168.1.4', 'inactive')

# **UPDATE RECORDS**

In [5]:
cursor.execute("UPDATE incidents SET status='Resolved' WHERE description='System infected by ransomware'  " )
cursor.execute("UPDATE systems SET status='inactive' WHERE ip_address='192.168.1.3'  " )


cursor.execute("SELECT * FROM incidents WHERE description='System infected by ransomware' ")
inrecord=cursor.fetchall()
print(inrecord)


cursor.execute("SELECT * FROM systems WHERE ip_address='192.168.1.3'  ")
sysrecord=cursor.fetchall()
print(sysrecord)

[(2, 'Malware Infection', 'System infected by ransomware', '2024-06-02', 'Resolved')]
[(3, 'Server3', '192.168.1.3', 'inactive')]

# **DELETE RECORDS**

In [6]:
cursor.execute("DELETE FROM actions WHERE  analyst_name='Bob Johnson' ")
cursor.execute("DELETE FROM systems WHERE  system_name='Server1' ")

cursor.execute('SELECT * FROM actions')
results = cursor.fetchall()

for result in results:
    print(result)
print('\n')
cursor.execute('SELECT * FROM systems')
results = cursor.fetchall()

for result in results:
    print(result)

(1, None, 'Investigated network breach', '2024-06-01', 'Alice Smith')
(3, None, 'Reviewed firewall rules', '2024-06-03', 'Carol White')
(4, None, 'Conducted system audit', '2024-06-04', 'David Brown')


(2, 'Server2', '192.168.1.2', 'inactive')
(3, 'Server3', '192.168.1.3', 'inactive')
(4, 'Server4', '192.168.1.4', 'inactive')